*{
    margin:             0;
    padding:            0;
	}
	body{
    background:         black;
	}
	
/*垂直水平都居中*/
.black,
.white{
  width:                100px;
  height:               100px;
  border-radius:        50%;
  margin:               auto;
  position:             absolute;
  top:                  0;
  right:                0;
  bottom:               0;
  left:                 0;
}
.black{
  background:           black;
  z-index:              999;
  animation:            move 10s infinite alternate;
  -webkit-animation:    move 10s infinite alternate;
}
.white{
  background:           white;
  border-radius:        50%;
  box-shadow:           0px 0px 10px 10px #75767B;
  -webkit-animation:    shadow 10s infinite alternate;
  animation:            shadow 10s infinite alternate;
}
/*改变阴影*/
@keyframes shadow{
	0%{box-shadow:     0px 0px 10px 10px #75767B}
	50%{box-shadow:     0px 0px 10px 0 #75767B}
	100%{box-shadow:     0px 0px 10px 10px #75767B}
}
@-webkit-keyframes shadow{
	0%{box-shadow:     0px 0px 10px 10px #75767B}
	50%{box-shadow:     0px 0px 10px 0 #75767B}
	100%{box-shadow:     0px 0px 10px 10px #75767B}
}
/*移动*/
@keyframes move{
	0%{left: -200px;}
	50%{left: 0}
	100%{left: 200px;}
}
@-webkit-keyframes move{
	0%{left: -200px;}
	50%{left: 0}
	100%{left: 200px;}
}